.App {
    display: flex;
    font-family: "Lato", sans-serif;
    background-color: #f8f8f9;
}

html, body, .App, #root, .flex, .column {
    width: 100%;
    height: max-content;
    min-height: 100vh;
}

.flex, .column {
    display: flex;
}

.column {
    flex-direction: column;
}