# Default ignored files
/../../../:./group/.idea/shelf/
/../../../:./group/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:./group/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:./group/.idea/dataSources/
/../../../:./group/.idea/dataSources.local.xml
